<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="TestprogRandomData.StaticKeysSection, TestprogRandomData"  />
  </configSections>

  <StaticKeysSection
      MainFormCaption="TestprogRandomData Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="ApplicationName" value="TestprogRandomData"/>

  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
