<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="TestprogRandomWords.StaticKeysSection, TestprogRandomWords"  />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TestprogRandomWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <StaticKeysSection
      MainFormCaption="TestprogRandomWords Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="ApplicationName" value="TestprogRandomWords"/>

  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <TestprogRandomWords.Properties.Settings>
      <setting name="UserOption1" serializeAs="String">
        <value>c:\mikesave</value>
      </setting>
      <setting name="UserOption2" serializeAs="String">
        <value>c:\miketest</value>
      </setting>
      <setting name="SaveFormLocationsOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserOption4" serializeAs="String">
        <value>First</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageLogDefaultHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="MessageLogDefaultWidth" serializeAs="String">
        <value>570</value>
      </setting>
    </TestprogRandomWords.Properties.Settings>
  </userSettings>
</configuration>
